table, td, th {
  border: 1px solid rgb(6, 0, 11);
}
table {
  margin: 5rem;
}
td, th {
  padding: 1rem;
}

thead th {
  font-weight: bold;
  background-color: rgba(219, 9, 19, 0.5)
}

tfoot {
  font-weight: bold;
  background-color:rgb(40, 60, 126, .5);
}
tbody {
  background-color: rgb(200, 200, 73, .5)
}
h1 {
  padding: 2rem;
  height: 100px;
  font-size: 70px;
  margin: auto;
}
main h2 {
  font-weight: bold;
  margin-left: 16px;
}
fieldset legend{
  font-weight: bold;
}
fieldset {
  font-weight: bold;
}
legend {
  padding: 17px;
  margin: auto;
}
label {
  padding: 5px;
}
button {
  padding: 5px;
  text-align: center;
}
form {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
